<style>
    .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        height: 200px;
        
    }
    .boat {
        background-image: url(static/boat1.jpg);
        height: 200px;
        background-size: 100% 100%;
        width: 100%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        margin-bottom: 2px;
    }
</style>
<div class="footer">
    {{!-- <p>Copy Right &copy; All Right And Reserved</p> --}}
    <div class="container-fluid text-center p-4 boat mt-5">
        <img src="static/Shaheen.jpg" alt="..." 
                class="figure-img img-fluid rounded-circle  p-1" width="70px" height="250px">
        <blockquote class="blockquote text-light" style="font-size:12px;">
            <p><i>A well-known quote, contained in a blockquote element. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. <br> Facere, obcaecati laborum error similique voluptate dolorem eveniet id!
                    Tenetur quaerat enim cumque, <br> amet, vero nam in libero, repudiandae harum iure itaque! </i></p>
        </blockquote>
        <figcaption class="blockquote-footer text-light p-0">
            <b>Shaheen Bano</b>
            <p style="font-size:10px;">Developer</p>
            <!-- <cite title="Source Title">Source Title</cite> -->
        </figcaption>

    </div>
    <div class="container-fluid text-center p-3 text-dark border border-2 border-dark" >
        <p><i>Copywrite @2022 by<span class="text-primary"> Shaheen Bano</span> All writes reserved</i></p>
    </div>
</div>