<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Assigment 3</title>
</head>

<body>
  {{> nav}}
  {{!-- <div class="container text-center text-black headerset">
    <h2>Welcome To Sur Studio</h2>
    <h1>It's Nice To Meet You</h1>
    <button class="btn btn-warning text-white btn-lg">SUBSCRIBE</button>
  </div> --}}
  <div class="pt-5">
    <h3 align="center">Welcome to our website</h3>
    <h1 align="center">Hi 👋, I'm Shaheen Bano</h1>
    <h3 align="center">Software devloper at NeoSoft Technologies.</h3>

    <p align="right"> Github views <img
        src="https://komarev.com/ghpvc/?username=bshaheen236&label=Profile%20views&color=0e75b6&style=flat"
        alt="bshaheen236" /> </p>
    <img align="right" alt="Coding" width="400"
      src="https://camo.githubusercontent.com/6607041227d81f650340ff070cc2843518acad359b57e5bb054a9fb7127aa041/68747470733a2f2f63646e2e6472696262626c652e636f6d2f75736572732f323634363432332f73637265656e73686f74732f353530373139362f636f6d70757465722e676966">

    - 🌱 I’m currently learning : HTML, CSS, Bootstrap, NodeJS, Express, MongoDB
    <br>
    - 📫 How to reach me : shaheen.bano@neosoftmail.com
    <br>
    <h3 align="left" class="pt-5">Connect with me:</h3>
    <br>
    <div class="text-left">
      <a href="https://twitter.com/@shaheen55172967" target="blank"><img align="center"
          src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/twitter.svg"
          alt="@shaheen55172967" height="30" width="40" /></a>
      <a href="https://linkedin.com/in/shaheen bano" target="blank"><img align="center"
          src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg"
          alt="shaheen bano" height="30" width="40" /></a> <br> <br>
      <a href="https://fb.com/shaheen bano" target="blank"><img align="center"
          src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/facebook.svg"
          alt="shaheen bano" height="30" width="40" /></a>
      <a href="https://instagram.com/shaheen_sm1103" target="blank"><img align="center"
          src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg"
          alt="shaheen_sm1103" height="30" width="40" /></a> <br><br>
      <a href="https://www.codechef.com/users/shaheen_236" target="blank"><img align="center"
          src="https://cdn.jsdelivr.net/npm/simple-icons@3.1.0/icons/codechef.svg" alt="shaheen_236" height="30"
          width="40" /></a>
      <a href="https://www.hackerrank.com/@bshaheen236" target="blank"><img align="center"
          src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/hackerrank.svg"
          alt="@bshaheen236" height="30" width="40" /></a> <br> <br>
      <a href="https://www.hackerearth.com/@bshaheen236" target="blank"><img align="center"
          src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/hackerearth.svg"
          alt="@bshaheen236" height="30" width="40" /></a>
      <a href="https://auth.geeksforgeeks.org/user/bshaheen236" target="blank"><img align="center"
          src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/geeks-for-geeks.svg"
          alt="bshaheen236" height="30" width="40" /></a>
    </div>
    <br>
    <h3 align="left">Languages and Tools:</h3>
    <br>
    <p align="left">
      <a href="https://www.cprogramming.com/" target="_blank"> <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg" alt="c" width="40"
          height="40" /> </a>
      <a href="https://www.w3schools.com/cpp/" target="_blank"> <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg"
          alt="cplusplus" width="40" height="40" /> </a> <br> <br>
      <a href="https://www.w3.org/html/" target="_blank"> <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
          alt="html5" width="40" height="40" /> </a>
      <a href="https://www.mysql.com/" target="_blank"> <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg"
          alt="mysql" width="40" height="40" /> </a> <br> <br>
      <a href="https://www.python.org" target="_blank"> <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python"
          width="40" height="40" /> </a>
      <a href="https://scikit-learn.org/" target="_blank"> <img
          src="https://upload.wikimedia.org/wikipedia/commons/0/05/Scikit_learn_logo_small.svg" alt="scikit_learn"
          width="40" height="40" /> </a>
    </p>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </div>
</body>
{{> footer}}

</html>